








<tr>
  <th>リサジュー図形</th>
  <td><img src="Lissajous/scrshot1.jpg"></td>
  <td><img src="Lissajous/scrshot2.jpg"></td>
  <td>単振動とリサジュー図形の学習用デモです 振幅,振動数,初期位相の異なる2つの単振動を組み合わせると, リサジュー図形とよばれる美しい図形が現れます. ソースの大部分を共有する iアプリ版/Vアプリ版/EZアプリ版があります. そのソースを http://sparrow.math.ryukoku.ac.jp/~hig/info/mathfp/sample.zip で公開しています. 小数の計算には MathFP クラスを使っています。龍谷大学理工学部数理情報学科の授業で使用しています。</td>
  <td>
<a href="mailto:your.address@docomo.ne.jp?subject=URL_iappli?body=http://sparrow.math.ryukoku.ac.jp/~hig/mobilejava/examples/i/Lissajous/">メールでURL送る</a>
<a href="i/Lissajous/jam_url.html">JAMファイルのURL</a>
</td>
  <td><a href="mailto:your.address@k.vodafone.ne.jp?subject=URL_Vappli?body=http://appget.com/vf/menu/apview_021931.htm">メールでURL送る</a></td>
  <td><a href="mailto:your.address@ezweb.ne.jp?subject=URL_EZappli?body=http://sparrow.math.ryukoku.ac.jp/~hig/mobilejava/examples/k/Lissajous/">メールでURL送る</a></td>
</tr>
